@media all  and (max-width: 340px) {
    .container {
        padding: 20px 10px;
        .main {
            padding: 15px 15px 200px;
        
            .color-picker {
                div {
                    padding: 10px;
                
                    .color-hex {
                        min-width: 110px;
                    }
                }
            }
        
            .list-color-hex {
                @include media-list-color;
            
            }
        
            .list-color-rgb {
                @include media-list-color;
                width: 200px;
            
                &:before {
                    right: 50px;
                }
            }
        }
    }
}