@mixin list-color {
  background: #fff;
  box-shadow: 3px 10px 15px 0 $primary_color;
  border-radius: 3px;
  position: absolute;
  top: 105px;
  right: 9%;
}

@mixin media-list-color {
  right: 14%;
  top: 75px;
  padding: 10px;
}

@mixin before-element {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -20px;
}

@mixin button {
  outline: none;
  border: 1px solid #b6b7b9;
  font-weight: 700;
  border-radius: 1px;
  &:hover {
    transform: scale(1.05);
    transition: all 0.15s ease-in;
  }
}