body, h1, h2, h3, h4, h5, p, figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    outline: none;
    box-sizing: border-box;
}