.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 25px 20px 40px;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.color-item-rgb {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.color-item-hex {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.main {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #e4e0df;
    padding: 40px 40px 200px;
    position: relative;

    .color-picker {
        background: #ffffff;
        border: 1px solid $primary_color;
        border-radius: 2px;
        display: flex;

        div + div {
            border-left: 1px solid #e4e0df;
        }

        .color-item-rgb {
            margin: auto;
        }

        div {
            padding: 15px;
            display: flex;
        }

        span {
            display: inline-block;
            margin: auto;
        }

        .color-hex {
            min-width: 130px;
        }
    }

    .list-color-rgb {
        @include list-color;
        padding: 15px;
        width: 220px;

        &:before {
            @include before-element;
            right: 65px;
        }

        ul {
            li {
                display: flex;
                justify-content: space-around;
                padding: 5px 2px;
                input {
                    cursor: pointer;
                }
            }
        }

        .footer-list {
            margin-top: 5px;
            display: flex;
            justify-content: flex-end;

            button {
                padding: 2px 10px;
                text-transform: uppercase;
                cursor: pointer;
            }

            button:first-child {
                @include button;
                background: #d1d2d4;
                margin-right: 5px;
                color: #959698;

                &:hover {
                    background: darken(#d1d2d4, 5%);
                }
            }

            button:last-child {
                @include button;
                background: #6ba559;
                color: #ffffff;

                &:hover {
                    background: darken(#6ba559, 5%);
                }
            }
        }

    }

    .list-color-hex {
        @include list-color;
        width: 180px;

        &:before {
            @include before-element;
            right: 12px;
        }

        li {
            display: flex;
            justify-content: space-between;
            padding: 7px 12px;
            color: $grey_color;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                color: darken($grey_color, 30%);
                background: darken(#ffffff, 5%);
                transition: all .2s ease-in;
            }
        }

        li + li {
            border-top: 1px solid $grey_color;
        }
    }

    .color-item-list {
        border: 10px solid $primary_color;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transform: translateY(25%);
        cursor: pointer;
    }
}


